body{
    background: url("https://images.pexels.com/photos/1788/vintage-music-sound-music-player.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");    
    font-family: 'Anton', sans-serif;
}

#welcome{    
    margin-top: 250px;
}

.big{
    font-size: 150px;
}

.small{
    font-size:80px;
    margin-top: -70px;
}

.btn-primary{    
    width: 200px;
    height: 50px;
    background-color: rgb(0, 66, 52);
    border: 0 none;
    letter-spacing: 5px;
}

.btn-primary:hover{    
    background-color: rgb(50, 126, 109);
}

.dimensionsform{
    margin: -90px 0 0 710px;
}